{% extends 'base.html.twig' %}

{% block title %}Edit SuperHeroController!
{% endblock %}

{% block body %}
	<h1>Mise àjour héro✅</h1>
	<div class="formulaire">
		{{form(formedit)}}
		</div>

	{% endblock %}
