body {
    width: 80%;
    margin: 0 auto;
}

.formulaire label {
    background-color: aqua;

}

.ListeSuperHeros {
    background-color: rgb(5, 174, 160);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-top: 48px;
    width: 70%;
    border: 2px solid rgb(239, 239, 239);
    padding: 8px;

}

.table,
tr,
th,
td,
tbody {
    background-color: rgb(5, 174, 160);
    border: solid 1px rgb(5, 174, 160);
}

table table-striped {
    background-color: rgb(5, 174, 160);
}