{% extends 'base.html.twig' %}

{% block title %}Hello NewsuperheroController!
{% endblock %}

{% block body %}


	<h1>Nouveau héro✅</h1>
	<div class="formulaire">
		{{form(formulaireSuperHero)}}
		</div>
	{% endblock %}
